/*font-family: 'Quicksand', sans-serif;*/

/*    font-family: "Droid Sans", sans-serif;*/

@font-face {
    font-family: 'DroidSans', sans-serif;
    src: url(../fonts/DroidSans.ttf);
}

@font-face {
    font-family: 'ARDECODE';
    src: url(../fonts/ARDECODE.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
}

header {
    min-height: 100px;
    background-color: #2a2e33;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.header_logo {
    overflow: hidden;
    float: left;
    width: 40%;
    padding: 30px 0;
}

.header_logo1 {
    float: left;
    color: #ffffff;
}

.header_logo1 pre {
    font-size: 30px;
    font-family: "Droid Sans", sans-serif;
    font-weight: bold;
}

.header_logo1 p span {
    color: #ffd700;
}

.header_logo2 {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    font-weight: 300;
    padding: 8px 0;
    color: #b8b9bb;
}

.header_nav {
    width: 60%;
    float: right;
}

.header_nav ul {
    float: right;
}

.header_nav ul li {
    list-style: none;
    float: left;
}

.header_nav ul li a {
    text-decoration: none;
    padding: 40px 15px;
    display: block;
    color: #ffffff;
    font-size: 13px;
    transition: .5s;
    font-family: "Droid Sans", sans-serif;
    font-weight: bold;
}

.header_nav ul li:last-child a {
    padding-right: 0;
}

.header_nav ul li:hover {
    background-color: #1e2329;
    border-top: 2px solid #ffd700;

}

/*banner start*/

.banner {
    min-height: 510px;
    background-color: #00ccff;
    position: relative;

}

.banner_text {
    text-align: center;
}

.banner_title {
    width: 480px;
    margin: 0 auto;
    border-bottom: 1px dotted #ffffff;
    font-size: 30px;
    font-weight: normal;
    padding: 75px 0 30px 0;
    font-family: 'Quicksand', sans-serif;
}

.banner_title span {
    font-weight: bold;
}

.banner_hotelname {
    font-family: "Droid Sans", sans-serif;
    font-size: 60px;
    font-weight: bold;
    width: 464px;
    border-bottom: 1px dotted #ffffff;
    margin: 0 auto;
    padding: 30px 0 40px 0;

}

.banner_service {
    font-size: 30px;
    font-weight: 300;
    padding-top: 44px;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 84px;
}

/* view price*/

#arrival {}

#departure {}

#room_type {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.view_prices {
    min-height: 100px;
    background-color: #2a2e33;
    width: 1038px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    overflow: hidden;
}

.form-group {
    padding: 16px 20px 16px 15px;
    float: left;
}

.form-group:nth-child(3) {
    padding-right: 0;
}

.form-group input {
    width: 250px;
    min-height: 40px;
    padding-left: 11%;
    border-radius: 10px;
    border: none;
    background: url(../images/calender-icon.png);
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: 5%;

}

.form-group select {
    width: 250px;
    min-height: 40px;
    padding-left: 11%;
    border-radius: 10px;
    border: none;
    background-image: url(../images/select-room-icon.png);
    background-repeat: no-repeat;
    background-position: 5%;

}

.form-group label {
    font-size: 18px;
    font-weight: 300;
    color: #8d7d1b;
    padding-left: 5px;
}

.view_price_button button {
    min-height: 43px;
    width: 173px;
    border-radius: 10px;
    border: none;
    background-color: #ffd700;
    font-size: 18px;
    font-family: "Droid Sans", sans-serif;
    font-weight: bold;
    margin: 37px 10px;
}


/* package booking start*/

.booking_package {
    min-height: 500px;
    border-bottom: 1px solid #8e9093;
    background-image: url(../images/banner-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.booking_package_text {
    text-align: center;
}

.booking_package_text h1 {
    margin-top: 100px;
    font-family: 'ARDECODE';
    color: #2a2e33;
    font-size: 60px;
    padding-bottom: 20px;
}

.booking_package_text p {
    color: #96989a;
    font-size: 14px;
    padding-bottom: 50px;
}

.booking_package_slider_img {
    width: 1020px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 30px;
}

.left_arrow {
    padding-right: 88px;
    padding-top: 70px;
}

.circle_image {
    width: 220px;
    border: 3px solid #2a2e33;
    min-height: 216px;
    border-radius: 120px;
    float: left;
    margin: 0 12px;
    background-color: white;

}

.right_arrow {
    padding-top: 70px;
}

/*room type start*/

.room_type {
    min-height: 800px;
    background-image: url(../images/room-types-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #2a2e33;
    position: relative;
    padding-bottom: 75px;

}

.roomtype_heading {
    font-size: 60px;
    font-family: "ARDECODE";
    text-align: center;

}

.single_room {
    width: 400px;
    min-height: 270px;
    text-align: center;
    font-family: 'Quicksand';
    float: left;
    margin: 30px 0 35px 0;
}

.single_room_title {
    font-size: 24px;
}

.single_room_text {
    font-size: 12px;
}

.single_room_image {
    padding-top: 20px;
}

/*testimonial start*/

.testimonial {
    min-height: 187px;
    background-color: #e7cb2c;
    font-family: "Quicksand", sans-serif;
}

.testimonial_text {
    /*    float: left;*/
    width: 800px;
    padding: 35px 0;

}

.testimonial_text h1 {
    font-size: 48px;
    font-weight: 100;
}

.testimonial_text p {
    font-size: 18px;
    padding-top: 34px;
}

.testimonial_common_wrapper {
    position: relative;
    width: 1200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    /*    border: 1px solid red;*/
}

.testimonial_img {
    position: absolute;
    right: -20px;
    bottom: -12px;
    /*   overflow hidden thkle positioning kj kre na*/
}

.testimonial_img img {}

/*footer start*/

footer {
    min-height: 325px;
    background-color: #333333;
    padding: 30px 0;
    /*    font-weight: normal;*/
}

.about_and_news {
    width: 245px;
    min-height: 170px;
    padding-right: 20px;
}

.about_and_news h1 {
    font-family: 'Droidsans', sans-serif;
    font-size: 18px;
}

.about_and_news p {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
   
}

.about_and_news:first-child p {
    padding: 12px 0;
     color: #858585;
}

.footer_news {
    padding: 10px 0 0 0;
     color: #858585;
}

.footer_news_date {
    color: #877a30;
}

.join_hotels {
    width: 440px;
    min-height: 193px;
}

.join_hotels h1 {
    font-size: 18px;
    font-family: 'DroidSans', sans-serif;
}

.join_hotels p {
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    padding: 10px 0;
    color: #858585;
}

.join_button button {
    color: #1e1e1e;
    width: 100px;
    font-family: 'DroidSans', sans-serif;
    font-weight: bold;
    background-color: #e7cb2c;
    border: none;
    border-radius: 5px;
    min-height: 30px;
}

.Members_area {
    width: 210px;
    min-height: 184px;
    padding-left: 20px
}

.Members_area h1 {
    font-size: 18px;
    font-family: 'DroidSans', sans-serif;
}

.footer-form-group {
    padding: 10px 0;
}

.footer-form-group label {
    font-family: "QUicksand", sans-serif;
    color: #858585;

}

.footer-form-group input {
    border: 1px solid #262626;
    border-radius: 5px;
    background: transparent;
    width: 198px;
    min-height: 30px;
}

/*black footer bar*/

.black_footer_bar {
    min-height: 35px;
    background-color: #1f1f1f;
}